table ,tr,td, th{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    font-size: 100px;
    border-collapse: collapse;
    text-align: center;
}

tbody tr:not(first-child):hover { 
    background-color: rgba(73, 148, 2, 0.705);

}

thead th {
    background-color: red;
}

table tr:nth-child(2n + 1) 
{
    background-color: purple;
}

    