table ,tr,td{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    font-size: 100px;
    border-collapse: collapse;
    text-align: center;
}

table tr:not(first-child):hover { 
    background-color: rgba(73, 148, 2, 0.705);
    

    
}

table tr:nth-child(2):hover {
    background-color: blue
}

table tr:first-child 
{
    background-color: purple;
}

table tr:nth-child(2n + 1) 
{
    background-color: blue;
}

    